<div class="hero-container">
    <h1 class="company-name">RunPixelRun</h1>
    <div class="full-stack-line">
        <div class="full-stack-box">
            <img class="horiz-line-1" src="<%= asset_path('Horiz-line-for-hero.png')%>">
            <h2 class="title1">Fullstack</h2>
            <img class="horiz-line-2" src="<%= asset_path('Horiz-line-for-hero.png')%>">
        </div>
    </div>
    <h4 class="company-description">Responsive Web Development</h4>
    <div class="scrolling-box">
        
    </div>
    
    <div class="cube-main">
        <div class="cube">
            <div class="face-1">
                <span class="front-face scroll-text">Responsive</span>
            </div>
            <div class="face-2">
                <span class="top-face scroll-text">Clean</span>
            </div>
            <div class="face-3">
                <span class="back-face scroll-text">Dynamic</span>
            </div>
            <div class="face-4">
                <span class="bottom-face scroll-text">Contact</span>
            </div>
        </div>
    </div>
    
</div>
