<div class="process-section">
    
    <div class="process-title">
        <span class="process-section-header">The Process</span>
    </div>
    
    <div class="monster-img-section">
        <div class="monster-1">
            <img class="monster-concept" src="<%= asset_path('monster_concept_black') %>">
            <span class="monster-1-text">Concept</span>
        </div>
        <div class="monster-2">
            <img class="monster-rails" src="<%= asset_path('monster_rails_black') %>">
            <span class="monster-2-text">Ruby On Rails</br>Backend Development</span>
        </div>
        <div class="monster-3">
            <img class="monster-animation" src="<%= asset_path('monster_animation') %>">
            <span class="monster-3-text">Responsive Styling and Animation</span>
        </div>
        <div class="monster-4">
            <img class="monster-deploy" src="<%= asset_path('monster_deployment') %>">
            <span class="monster-4-text">Deployment</span>
        </div>          
    </div>
</div>