.form-container {
    position: relative;
    
    .contact-form {
        position: absolute;
        margin: 0;
        top: 8vw;
        left: 30vw;
        width: 44vw;
        
        // .form-bg {
        //     background: black;
        //     position: relative;
        //     height: 41vw;
        //     border-radius: 22vw;
        //     width: 41vw;
            
        //     #new_contact {
        //         width: 43vw;
        //         position: absolute;
        //         top: 2vw;
        //         left: -1vw;
        //     }
        //     input.btn.btn-default.form-btn {
        //         position: absolute;
        //         left: 17.5vw;
        //         top: 32vw;
        //         border-radius: 6vw;
        //         height: 4vw;
        //         width: 8vw;
        //         text-transform: uppercase;
        //         font-weight: bold;
        //         color: #337ab7;
        //     }
        // }
    }
}