
html {
    height: 101vh;
}

body {
    height: 101vh;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}



.hero-container {
    background: url('/assets/Hero-BG.png') no-repeat;
    height: 101vh;
    background-size: 185vh;
    background-position: -8vw -4vw;
    position: relative;
    
    .company-name, .title1, .company-description {
        color: white;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
    }
    .company-name {
        top: 25vw;
        left: 42vw;
        font-size: 5vw;
        margin: 0;
    }
    .company-description {
        top: 37vw;
        left: 43vw;
        font-size: 2vw;
        margin: 0;
    }
    .full-stack-line {
        position:absolute;
        top: 0vw;
        left: 0vw;
        
        .full-stack-box {
            position: relative;
            
            .horiz-line-1, .title1, .horiz-line-2 {
                position: absolute;
                
            }
            .horiz-line-1 {
                top: 33.4vw;
                left: 42.9vw;
                height: 0.25vw;
            }
            .horiz-line-2 {
                top: 33.4vw;
                left: 66.6vw;
                height: 0.25vw;
            }
            .title1 {
                top: 32.4vw;
                left: 54.1vw;
                font-size: 2vw;
                margin: 0;
            }
        }
    }
    
    // .title1 {
    //     top: 30.5vw;
    //     left: 51vw;
    //     font-size: 3vw;
    // }
    .company-description {
        top: 37vw;
        left: 43vw;
        font-size: 2vw;
    }
    .scrolling-box {
        background: white;
        height: 3vw;
        left: 51vw;
        top: 43vw;
        width: 17vw;
        position: absolute;
        border-radius: 1vw;
        display: none;
    }

    
    
    
    
    
    
    
    .cube-main {
        perspective: 44vw;
        perspective-origin: 11vw 0vw;
        position: absolute;
        left: 51vw;
        top: 42vw;
        transform: scale(0.9);
    }
    .cube {
        position: relative;
        height: 4vw;
        width: 18vw;
        transform-style: preserve-3d;
        text-align: center;
        
        .scroll-text {
            font-size: 2vw;
            text-transform: uppercase;
            text-align: center;
            line-height: 4vw;
        }
        .front-face {
            padding: 0.7vw 2.6vw 0.7vw 2.6vw;
        }
        .top-face {
            padding: 0.7vw 5.6vw 0.7vw 5.6vw;
        }
        .back-face {
            padding: 0.7vw 4.3vw 0.7vw 4.3vw;
        }
        .bottom-face {
            padding: 0.7vw 4.2vw 0.7vw 4.2vw;
        }
    }
    .face-1, .face-2, .face-3, .face-4 {
        height: 4vw;
        width: 18vw;
        position: absolute;
    }
    
    .face-1 {
        background: white;
        transform: translateZ(2vw);
    }
    .face-2 {
        background: white;
        transform: rotateX(90deg) translateY(-2vw);
        transform-origin: top center;
    }
    .face-3 {
        background: white;
        transform: translateZ(-2vw) rotateX(180deg);
    }
    .face-4 {
        background: white;
        transform: rotateX(270deg) translateY(2vw);
        transform-origin: bottom center;
    }
}
    



    

@keyframes spin {
    0%   {
        transform: rotateX(0deg);
    }
    7%   {
        transform: rotateX(0deg);
    }
    16% {
        transform: rotateX(-1170deg);
    }
    32% {
        transform: rotateX(-1170deg);
    }
    42% {
        transform: rotateX(-180deg);
    }
    60% {
        transform: rotateX(-180deg);
    }
    70% {
        transform: rotateX(-1710deg);
    }
    85% {
        transform: rotateX(-1710deg);
    }
    94% {
        transform: rotateX(-360deg);
    }
    100% {
        transform: rotateX(-360deg);
    }
        
}

// .cube {
//     animation: spin 8s infinite linear;
// }